#wrapper {
    font-family: arial, sans-serif;
    width:920px;
    margin-left: auto;
    margin-right: auto;
    
}

#leftsection {
    text-align: center;
}

#logo {
    text-align: center;
}

#header {
    text-align: center;
}

#section {
    
}

#imagecarousel {
    text-align: center;
}

#Pizza1 {
    
}

#contact {
    color: white;
}