#wrapper {
    font-family: arial, sans-serif;
    width:1080px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    text-align: center;
}

#header {
    text-align: center;
    width: 1080px;
}


#imagecarousel {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    display: inline;
}



hr {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#Pizza1 {
    float: left;
    padding-left: 45px;
    padding-bottom: 20px;
}

#Pizza2 {
    float: left;
    padding-left: 45px;
    padding-bottom: 20px;
}

#Pizza3 {
    float: left;
    padding-left: 45px;
    padding-bottom: 20px;
}

#Side1 {
    float: left;
    padding-left: 45px;
    padding-bottom: 20px;
}

#Side2 {
    float: left;
    padding-left: 45px;
    padding-bottom: 20px;
}

#Side3 {
    float: left;
    padding-left: 45px;
    padding-bottom: 20px;
}

#Drink1 {
    float: left;
    padding-left: 45px;
    
}

#Drink2 {
    float: left;
    padding-left: 45px;
}

#Drink3 {
    float: left;
    padding-left: 45px;
}

h2 {
    text-align: center;

}

#contact {
    text-align: center;

}

#address {
    float: left;
}

#footer {
    background-color: #f2f2f2;
    clear: left;
    text-align: center;
}
