#wrapper {
    font-family: arial, sans-serif;
    width:920px;
    margin-left: auto;
    margin-right: auto;
    
}

#logo {
    text-align: center;
}

#header {
    text-align: center;
}


#imagecarousel {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    display: inline;
}

.active {
    background-color: red;
    color: white;
}

hr {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#Pizza1 {
    float: left;
}

#Pizza2 {
    float: left;
}

#Pizza3 {
    float: left;
}

#Side1 {
    float: left;
}

#Side2 {
    float: left;
}

#Side3 {
    float: left;
}

#Drink1 {
    float: left;
}

#Drink2 {
    float: left;
}

#Drink3 {
    float: left;
}

#contact {
    color: white;
}